<ion-header [translucent]="true">
  <ion-toolbar>
   <!--<ion-title>Irish Songs</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class ="page">
  <ion-list>
    <h1>DIVE INTO THE IRISH PARTY LIFE WITH SONGS AND LYRICS</h1>
    <ion-item>
      <br>
      <ion-input 
      label="Enter Irish/Any Song Title" 
      placeholder="Title"
      labelPlacement="stacked"
      [clearOnEdit]="true"
      [(ngModel)]="title">
    </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input 
      label="Enter Irish/Any Song Artist" 
      placeholder="artist"
      labelPlacement="stacked"
      [clearOnEdit]="true"
      [(ngModel)]="artist">
    </ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="OnSubmitClick()">Submit Choice</ion-button>
 

  <!--if the outcome from the api is error message print out the error message-->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!--If the outcome from the api are lyrics and not error 404 print our the lyrics in ngFor loop-->
  <div *ngIf="songLyrics.length && !errorMessage" class="song-lyrics">
    <p *ngFor="let line of songLyrics">
      {{ line }}</p>
  </div>

  <ion-button (click)="toHomePage()">Return to homePage</ion-button>
</div>
</ion-content>
