<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Irish Songs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <h1>DIVE INTO THE IRISH PARTY LIFE WITH SONGS AND LYRICS</h1>
    <ion-item>
      <br>
      <ion-input 
      label="Enter Irish/Any Song Title" 
      placeholder="Title"
      labelPlacement="stacked"
      [clearOnEdit]="true"
      [(ngModel)]="title">
    </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input 
      label="Enter Irish/Any Song Artist" 
      placeholder="artist"
      labelPlacement="stacked"
      [clearOnEdit]="true"
      [(ngModel)]="artist">
    </ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="OnSubmitClick()">Submit Choice</ion-button>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

    <div *ngFor="let line of songLyrics">
        <p>{{ line}}</p>
    </div>

</ion-content>
