
.meme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
    background-color: #8A2B13;
  }
  
  ion-card {
    margin: 5px;
    width: 100%;
    background-color:#F5F5DC;
    color: teal;
  }
  ion-button{
    display: grid;
    background-color: #F5F5DC;
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }