.page {
    background-color: #EB9C35;; /* Light grey background */
    padding: 10px;
  }
  
  ion-item {
    background-color: #EB9C35; /* White background for items */
    margin-bottom: 10px; /* Space between items */
    border-radius: 5px; /* Rounded corners */
  }
  
  ion-button {
    margin-top: 20px;
    background-color: #3880ff; /* Blue background for button */
    color: white;
  }