<ion-header [translucent]="true">
  <ion-toolbar><!--
    <ion-title>
      VISIT IRELAND
    </ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
 
  
  <div>
    EXPLORE IRELAND THROUGH THE EYES OF THE LOCALS
  </div>
  <hr>
  <ion-card [routerLink]="['/recipes']">
    <img alt="Food" src="https://img.freepik.com/premium-photo/hearty-bowl-beef-stew-with-vegetables-garnished-with-thyme_658005-41114.jpg?w=740" height="600" width="900"/>
    <ion-card-header>
      <ion-card-title>Irish Food</ion-card-title>
      <ion-card-subtitle>Explore the Irish Culture through food</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Indulge yourself in the splendid irish cuisine with a special recipe just for you.
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/songs']">
    <img  alt="Songs" src="https://img.freepik.com/premium-photo/atmospheric-shot-st-patricks-daythemed-night-concert_973275-157470.jpg?w=740" height="900" width="800"/>
    <ion-card-header>
      <ion-card-title>Irish Music</ion-card-title>
      <ion-card-subtitle>Explore the Irish Culture through Music</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Are you looking for lyrics of a specific irish song? Look no further.
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/humour']" >
    <img  alt="laugh" src="https://th.bing.com/th/id/OIP.e55Fptn0_b4TtEFxpaD6fQAAAA?rs=1&pid=ImgDetMain" height="700" width="500"/>
    <ion-card-header>
      <ion-card-title>Humour</ion-card-title>
      <ion-card-subtitle>Explore the Irish Culture through humour</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      WHAT IS THE CRAIC ? What is a visit to Ireland without a bit of laughter?
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
